#Rename or create a new file with these parameters

#Set datasource and dialect, change as needed
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.datasource.url=jdbc:postgresql://localhost:5432/${DB_NAME}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}

#SQL setup
#In production set "ddl-auto" > "none" | "ddl" > "false" | remove "show-sql"
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.generate-ddl=true
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.flyway.locations=classpath:db/migration

#Security logging
logging.level.org.springframework.security=DEBUG